@font-face {
  font-family: 'museo_sans_cyrl900';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/museosanscyrl_0-webfont.eot);
  src: url(../fonts/museosanscyrl_0-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/museosanscyrl_0-webfont.woff2) format('woff2'), url(../fonts/museosanscyrl_0-webfont.woff) format('woff'), url(../fonts/museosanscyrl_0-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'museo_sans_cyrl300';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/museosanscyrl_2-webfont.eot);
  src: url(../fonts/museosanscyrl_2-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/museosanscyrl_2-webfont.woff2) format('woff2'), url(../fonts/museosanscyrl_2-webfont.woff) format('woff'), url(../fonts/museosanscyrl_2-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'museo_sans_cyrl700';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/museosanscyrl-webfont.eot);
  src: url(../fonts/museosanscyrl-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/museosanscyrl-webfont.woff2) format('woff2'), url(../fonts/museosanscyrl-webfont.woff) format('woff'), url(../fonts/museosanscyrl-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'museo_sans_cyrl500';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/museosanscyrl_3-webfont.eot);
  src: url(../fonts/museosanscyrl_3-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/museosanscyrl_3-webfont.woff2) format('woff2'), url(../fonts/museosanscyrl_3-webfont.woff) format('woff'), url(../fonts/museosanscyrl_3-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'museo_sans_cyrl100';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/museosanscyrl_1-webfont.eot);
  src: url(../fonts/museosanscyrl_1-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/museosanscyrl_1-webfont.woff2) format('woff2'), url(../fonts/museosanscyrl_1-webfont.woff) format('woff'), url(../fonts/museosanscyrl_1-webfont.ttf) format('truetype');
}
